In [1]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot

sms = pd.read_csv("spam.csv", engine='python')

In [2]:
sms.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
sms.index

RangeIndex(start=0, stop=5572, step=1)

In [4]:
sms.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [5]:
sms = sms.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis = 1)

In [6]:
sms.columns = ['label','messages']
sms.head()

  label                                           messages
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
sms['length'] = sms['messages'].apply(len)
sms.head()

  label                                           messages  length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61

In [8]:
sms.describe()

            length
count  5572.000000
mean     80.058327
std      59.623937
min       2.000000
25%      36.000000
50%      61.000000
75%     121.000000
max     910.000000

In [9]:
sms.columns

Index(['label', 'messages', 'length'], dtype='object')

In [10]:
sms.groupby('label').describe()

       length
        count        mean        std   min    25%    50%    75%    max
label
ham    4825.0   71.021347  58.014768   2.0   33.0   52.0   92.0  910.0
spam    747.0  138.429719  29.049857  13.0  132.0  149.0  157.0  223.0

In [11]:
sms_ham = sms[sms.label=='ham']
sms_spam = sms[sms.label=='spam']

In [15]:
from nltk.stem import PorterStemmer
porter = PorterStemmer()

In [18]:
sms["sms_stemmed"] = sms["messages"].apply(lambda x: " ".join([porter.stem(t) for t in x.split()]))
sms

,label,messages,length,sms_stemmed
0,ham,"Go until jurong point, crazy.. Available only ...",111,"Go until jurong point, crazy.. avail onli in b..."
1,ham,Ok lar... Joking wif u oni...,29,Ok lar... joke wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,155,free entri in 2 a wkli comp to win FA cup fina...
3,ham,U dun say so early hor... U c already then say...,49,U dun say so earli hor... U c alreadi then say...
4,ham,"Nah I don't think he goes to usf, he lives aro...",61,"nah I don't think he goe to usf, he live aroun..."
...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,160,thi is the 2nd time we have tri 2 contact u. U...
5568,ham,Will �_ b going to esplanade fr home?,37,will �_ b go to esplanad fr home?
5569,ham,"Pity, * was in mood for that. So...any other s...",57,"pity, * wa in mood for that. so...ani other su..."
5570,ham,The guy did some bitching but I acted like i'd...,125,the guy did some bitch but I act like i'd be i...
5571,ham,Rofl. Its true to its name,26,rofl. it true to it name